﻿@model BlogArticleCommentsViewModel

@{
    ViewData["Title"] = "blog comments";
}

<div>
    <h2>All comments of @Model.Title</h2>

    @foreach (var r in Model.BlogComments)
    {
        <h5>@r.CommentId</h5>
        <div>@r.Text</div>
        <div><a href="/api/articles/details/@Model.BlogArticleId/comments/edit/@r.CommentId">edit</a></div>
        <br>
    }
    <br>
    <a href="/api/articles/details/@Model.BlogArticleId/comments/create/">Leave comment</a>
</div>
