﻿@model ArticleFormViewModel
@{
    ViewData["Title"] = "Create article";
}

<form asp-action="Create" method="post" class="m-2">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label name="Title">Title:</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content">Content:</label>
        <input asp-for="Content" class="form-control" />
        <span asp-validation-for="Content"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeId">Employee id:</label>
        <input asp-for="EmployeeId" class="form-control" />
        <span asp-validation-for="EmployeeId"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create blog</button>
</form>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

