﻿@model BlogArticleViewModel

@{
    ViewData["Title"] = "List Responses";
}

<div>
    <h2>Nortwind blog by @Model.AuthorName</h2>
    <h2>@Model.Title</h2>
    <br>
    <div>@Model.Content</div>
    <br>
    <form action="/api/articles/Edit/@Model.BlogArticleId" method="get">
        <button type="submit" class="btn-link">Edit</button>
    </form>

    <form action="/api/articles/Delete/@Model.BlogArticleId" method="post">
        <button type="submit" class="btn-link">Delete</button>
    </form>

    <form action="/api/articles/details/@Model.BlogArticleId/comments/" method="Get">
        <button type="submit" class="btn-link">Comments</button>
    </form>

    <br>
    <h6>in @Model.PublishDate</h6>
</div>
