﻿@model ProductLinkViewModel

@{
    ViewData["Title"] = "List Responses";
}

<div>
    <h2>Add or delete products from @ViewBag.ArticleId blog</h2>
    <br>
    <form action="/api/articles/details/@ViewBag.ArticleId/products/create" method="post">
        <div class="form-group">
            <label name="ProductId">Product Id:</label>
            <input asp-for="ProductId" class="form-control" />
            <span asp-validation-for="ProductId"></span>
        </div>
        <button type="submit" class="btn-link">Add</button>
    </form>

    <form action="/api/articles/details/@ViewBag.ArticleId/products/delete" method="post">
        <div class="form-group">
            <label name="ProductId">Product Id:</label>
            <input asp-for="ProductId" class="form-control" />
            <span asp-validation-for="ProductId"></span>
        </div>
        <button type="submit" class="btn-link">Delete</button>
    </form>
</div>
