﻿@model CommentFormViewModel
@{
    ViewData["Title"] = "Edit article";
}

<form asp-action="CreateComment" method="post" class="m-2">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label name="Text">Comment:</label>
        <input asp-for="Text" class="form-control" />
        <span asp-validation-for="Text"></span>
    </div>
    <button type="submit" class="btn btn-primary">Leave comment</button>
</form>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

