﻿@model IAsyncEnumerable<BlogArticleViewModel>

@{
    ViewData["Title"] = "List Responses";
}

<div>
    <h2 >All northwind blogs</h2>
    <table>
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Title
            </th>
            <th>
                Posted
            </th>
            <th>
                Author Id
            </th>
            <th>
                Author Name
            </th>
        </tr>
    </thead>
    <tbody>
        @await foreach (var r in Model)
        {
        <tr>
            <td>@r.BlogArticleId</td>
            <td><a href="/api/articles/Details/@r.BlogArticleId">@r.Title</a></td>
            <td>@r.PublishDate</td>
            <td>@r.EmployeeId</td>
            <td>@r.AuthorName</td>
            <td><a href ="/api/articles/details/@r.BlogArticleId/products">Related products</a></td>
        </tr>
        }
    </tbody>
    </table>
    <br>
    <a asp-controller="Articles" asp-action="Create">Add+</a>
</div>
