﻿@model BlogArticleProductsViewModel

@{
    ViewData["Title"] = "List Responses";
}

<div>
    <h2>All products of @Model.Title</h2>
    <table>
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Unit Price
                </th>
                <th>
                    Units In Stock
                </th>
                <th>
                    Units On Order
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.BlogProducts)
            {
                <tr>
                    <td>@r.ProductId</td>
                    <td>@r.ProductName</td>
                    <td>@r.UnitPrice</td>
                    <td>@r.UnitsInStock</td>
                    <td>@r.UnitsOnOrder</td>
                </tr>
            }
        </tbody>
    </table>
    <br>
    <a href ="/api/articles/details/@Model.BlogArticleId/products/edit">Edit</a>
</div>
