﻿.field-validation-error {
    color: #f00;
}

.navbar-brand {
    background-color: lightsteelblue
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.text-center {
    color: white;
}

.form-group {
    color: black;
}

table, th, td {
    border: 1px solid;
    color: black;
    background-color: lightgray
}